*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#e27d09;
}

/* HEADER */
header{
    background:#003366;
    color:white;
    text-align:center;
    padding:25px;
}

.logo h1{
    font-size:40px;
}

.logo p{
    margin-top:10px;
}

/* MENU */
nav{
    background:#0055aa;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

/* BANNER */
.banner{
    height:350px;
    background:url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1')
    no-repeat center;
    background-size:cover;

    display:flex;
    justify-content:center;
    align-items:center;
}

.banner-text{
    background:rgba(0,0,0,0.5);
    padding:30px;
    color:white;
    border-radius:10px;
    text-align:center;
}

.banner-text h2{
    font-size:40px;
    margin-bottom:10px;
}

/* ABOUT */
.about{
    padding:50px;
    text-align:center;
    background:white;
}

.about h2{
    margin-bottom:20px;
    color:#003366;
}

/* FILTER */
.filter{
    padding:40px;
    background:#e9f1ff;
    text-align:center;
}

.filter h2{
    margin-bottom:20px;
}

.filter-box{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.filter-box select,
.filter-box button{
    padding:12px;
    width:200px;
}

.filter-box button{
    background:#003366;
    color:white;
    border:none;
    cursor:pointer;
}

/* ROOMS */
.rooms{
    padding:50px;
}

.rooms h2{
    text-align:center;
    margin-bottom:30px;
    color:#003366;
}

.room-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.room-card{
    width:320px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 0 10px rgb(6, 62, 216);
}

.room-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.room-card h3,
.room-card p{
    margin:10px;
}

.price{
    color:red;
    font-weight:bold;
}

.room-card button{
    width:90%;
    margin:15px;
    padding:12px;
    border:none;
    background:#003366;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

/* FORM */
.register{
    width:70%;
    margin:50px auto;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 10px gray;
}

.register h2{
    text-align:center;
    margin-bottom:30px;
    color:#003366;
}

.form-group{
    margin-bottom:20px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

.form-group input,
.form-group select,
.form-group textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

textarea{
    height:100px;
}

.radio-group,
.checkbox-group{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.submit-btn{
    width:100%;
    padding:15px;
    background:#003366;
    color:white;
    border:none;
    font-size:18px;
    cursor:pointer;
    border-radius:8px;
}

/* TABLE */
.student-table{
    padding:50px;
}

.student-table h2{
    text-align:center;
    margin-bottom:20px;
    color:#003366;
}

table{
    width:90%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}

table th,
table td{
    border:1px solid #ccc;
    padding:15px;
    text-align:center;
}

table th{
    background:#003366;
    color:white;
}

/* FOOTER */
footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}